In [1]:
import sys, os, inspect
!pwd

/home/vbhargava/fb_v9.0_merged/msaction_backend/common/BU3.0_core/util/Py_utils/ETL/notebooks

In [2]:
sys.path.append("/home/vbhargava/fb_v9.0_merged/msaction_backend/common/BU3.0_core/util/Py_utils/ETL")

In [3]:
from tv.util.qubole_hive_client import QuboleHiveClient

In [4]:
from tv.configs import Config
import time, logging
numeric_level = getattr(logging, 'DEBUG', None)
stdout_handler = logging.StreamHandler(sys.stdout)
logging.basicConfig(level=numeric_level,
                        format='%(asctime)s %(levelname)s %(name)s: %(message)s',
                        handlers=[stdout_handler])

In [5]:
token='e1b02a0b8d5443c1aafba175312842f6bd833247361048438f37df2cedd51943'
cluster='Nightly-Dnow'
access_key='AKIAJSZT7LGTGV4UYU7Q'
secret_key='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'
url='https://api.qubole.com/api'
region='us-east-1'
CLIENT_WAREHOUSE_LOC='s3://qubole-nightly/warehouse/qa_nightly_1'
JARLOCATION='s3://qubole-nightly/warehouse/qa_nightly_1_jars'

In [6]:
params = Config.create_qubole_config_dict(cluster, CLIENT_WAREHOUSE_LOC, access_key, secret_key,token, url)
print(params)

{'cluster': 'Nightly-Dnow', 's3_location': 's3://qubole-nightly/warehouse/qa_nightly_1', 'access_key': 'AKIAJSZT7LGTGV4UYU7Q', 'secret_key': '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', 'token': 'e1b02a0b8d5443c1aafba175312842f6bd833247361048438f37df2cedd51943', 'url': 'https://api.qubole.com/api'}

In [7]:
Config.staging_dir("/tmp/tv-etl/")
Config.staging_dir()
# hive_query(query='show databases;',
#             config=params,
#             cluster=cluster,
#             debug=False)

'/tmp/tv-etl/'

In [8]:
QuboleHiveClient.hive_query(query='show databases;',
            config=params,
            cluster=cluster,
            debug=True)

2019-11-21 20:59:32,171 INFO root: ** Query:
set hive.cli.print.header=true; set hive.resultset.use.unique.column.names=false;
show databases;
2019-11-21 20:59:32,173 DEBUG root: Hive query staging loc:/tmp/tv-etl/hive_query/tmp_hive_query_55828_140600016660288.hiveql

''

In [35]:
p1 = hive_query(query='show partitions tv_mta_staging_dev2.raw_kantar_log_2;',
            config=params,
            cluster=cluster,
            debug=False)
p1

                                  partition
0     year=2019/week=22/file_name=tv_locnet
1     year=2019/week=22/file_name=tv_locsln
2    year=2019/week=22/file_name=tv_locspot
3     year=2019/week=22/file_name=tv_locsyn
4     year=2019/week=22/file_name=tv_natcab
5     year=2019/week=22/file_name=tv_natcue
6     year=2019/week=22/file_name=tv_natnet
7     year=2019/week=22/file_name=tv_natsln
8     year=2019/week=22/file_name=tv_natsyn
9     year=2019/week=23/file_name=tv_locnet
10    year=2019/week=23/file_name=tv_locsln
11   year=2019/week=23/file_name=tv_locspot
12    year=2019/week=23/file_name=tv_locsyn
13    year=2019/week=23/file_name=tv_natcab
14    year=2019/week=23/file_name=tv_natcue
15    year=2019/week=23/file_name=tv_natnet
16    year=2019/week=23/file_name=tv_natsln
17    year=2019/week=23/file_name=tv_natsyn
18    year=2019/week=24/file_name=tv_locnet
19    year=2019/week=24/file_name=tv_locsln
20   year=2019/week=24/file_name=tv_locspot
21    year=2019/week=24/file_name=tv_locsyn
22    year=2019/week=24/file_name=tv_natcab
23    year=2019/week=24/file_name=tv_natcue
24    year=2019/week=24/file_name=tv_natnet
25    year=2019/week=24/file_name=tv_natsln
26    year=2019/week=24/file_name=tv_natsyn
27    year=2019/week=25/file_name=tv_locnet
28    year=2019/week=25/file_name=tv_locsln
29   year=2019/week=25/file_name=tv_locspot
..                                      ...
114   year=2019/week=34/file_name=tv_natnet
115   year=2019/week=34/file_name=tv_natsln
116   year=2019/week=34/file_name=tv_natsyn
117   year=2019/week=35/file_name=tv_locnet
118   year=2019/week=35/file_name=tv_locsln
119  year=2019/week=35/file_name=tv_locspot
120   year=2019/week=35/file_name=tv_locsyn
121   year=2019/week=35/file_name=tv_natcab
122   year=2019/week=35/file_name=tv_natcue
123   year=2019/week=35/file_name=tv_natnet
124   year=2019/week=35/file_name=tv_natsln
125   year=2019/week=35/file_name=tv_natsyn
126   year=2019/week=36/file_name=tv_locnet
127   year=2019/week=36/file_name=tv_locsln
128  year=2019/week=36/file_name=tv_locspot
129   year=2019/week=36/file_name=tv_locsyn
130   year=2019/week=36/file_name=tv_natcab
131   year=2019/week=36/file_name=tv_natcue
132   year=2019/week=36/file_name=tv_natnet
133   year=2019/week=36/file_name=tv_natsln
134   year=2019/week=36/file_name=tv_natsyn
135   year=2019/week=37/file_name=tv_locnet
136   year=2019/week=37/file_name=tv_locsln
137  year=2019/week=37/file_name=tv_locspot
138   year=2019/week=37/file_name=tv_locsyn
139   year=2019/week=37/file_name=tv_natcab
140   year=2019/week=37/file_name=tv_natcue
141   year=2019/week=37/file_name=tv_natnet
142   year=2019/week=37/file_name=tv_natsln
143   year=2019/week=37/file_name=tv_natsyn

[144 rows x 1 columns]

In [79]:
# for r in p1['partition']:
#     print(r)
import re
tt = p1['partition']

        
list(filter(lambda x: re.match('.*37.*', x), tt))

['year=2019/week=37/file_name=tv_locnet',
 'year=2019/week=37/file_name=tv_locsln',
 'year=2019/week=37/file_name=tv_locspot',
 'year=2019/week=37/file_name=tv_locsyn',
 'year=2019/week=37/file_name=tv_natcab',
 'year=2019/week=37/file_name=tv_natcue',
 'year=2019/week=37/file_name=tv_natnet',
 'year=2019/week=37/file_name=tv_natsln',
 'year=2019/week=37/file_name=tv_natsyn']

In [15]:
df = hive_query(query='select distinct week from tv_mta_staging_dev2.raw_kantar_log;',
            config=params,
            cluster=cluster,
            debug=False)

In [16]:
df

    week
0     22
1     23
2     24
3     25
4     26
5     27
6     28
7     29
8     30
9     31
10    32
11    33
12    34
13    35
14    36
15    37

In [66]:
ll = 'year=2019/week=/file_name=tv_locnet'
#re.match('^year=[0-9]{4}/week=[0-9]{1,2}/.*$', ll)
mat = re.match('^year=([0-9]{4}?)/week=([0-9]{1,2}?)/.*$', ll)
mat

In [54]:
if mat:
    year = mat.group(0)
    week = mat.group(1)
year

AttributeError: 'list' object has no attribute 'group'

In [76]:
p1

                                  partition
0     year=2019/week=22/file_name=tv_locnet
1     year=2019/week=22/file_name=tv_locsln
2    year=2019/week=22/file_name=tv_locspot
3     year=2019/week=22/file_name=tv_locsyn
4     year=2019/week=22/file_name=tv_natcab
5     year=2019/week=22/file_name=tv_natcue
6     year=2019/week=22/file_name=tv_natnet
7     year=2019/week=22/file_name=tv_natsln
8     year=2019/week=22/file_name=tv_natsyn
9     year=2019/week=23/file_name=tv_locnet
10    year=2019/week=23/file_name=tv_locsln
11   year=2019/week=23/file_name=tv_locspot
12    year=2019/week=23/file_name=tv_locsyn
13    year=2019/week=23/file_name=tv_natcab
14    year=2019/week=23/file_name=tv_natcue
15    year=2019/week=23/file_name=tv_natnet
16    year=2019/week=23/file_name=tv_natsln
17    year=2019/week=23/file_name=tv_natsyn
18    year=2019/week=24/file_name=tv_locnet
19    year=2019/week=24/file_name=tv_locsln
20   year=2019/week=24/file_name=tv_locspot
21    year=2019/week=24/file_name=tv_locsyn
22    year=2019/week=24/file_name=tv_natcab
23    year=2019/week=24/file_name=tv_natcue
24    year=2019/week=24/file_name=tv_natnet
25    year=2019/week=24/file_name=tv_natsln
26    year=2019/week=24/file_name=tv_natsyn
27    year=2019/week=25/file_name=tv_locnet
28    year=2019/week=25/file_name=tv_locsln
29   year=2019/week=25/file_name=tv_locspot
..                                      ...
114   year=2019/week=34/file_name=tv_natnet
115   year=2019/week=34/file_name=tv_natsln
116   year=2019/week=34/file_name=tv_natsyn
117   year=2019/week=35/file_name=tv_locnet
118   year=2019/week=35/file_name=tv_locsln
119  year=2019/week=35/file_name=tv_locspot
120   year=2019/week=35/file_name=tv_locsyn
121   year=2019/week=35/file_name=tv_natcab
122   year=2019/week=35/file_name=tv_natcue
123   year=2019/week=35/file_name=tv_natnet
124   year=2019/week=35/file_name=tv_natsln
125   year=2019/week=35/file_name=tv_natsyn
126   year=2019/week=36/file_name=tv_locnet
127   year=2019/week=36/file_name=tv_locsln
128  year=2019/week=36/file_name=tv_locspot
129   year=2019/week=36/file_name=tv_locsyn
130   year=2019/week=36/file_name=tv_natcab
131   year=2019/week=36/file_name=tv_natcue
132   year=2019/week=36/file_name=tv_natnet
133   year=2019/week=36/file_name=tv_natsln
134   year=2019/week=36/file_name=tv_natsyn
135   year=2019/week=37/file_name=tv_locnet
136   year=2019/week=37/file_name=tv_locsln
137  year=2019/week=37/file_name=tv_locspot
138   year=2019/week=37/file_name=tv_locsyn
139   year=2019/week=37/file_name=tv_natcab
140   year=2019/week=37/file_name=tv_natcue
141   year=2019/week=37/file_name=tv_natnet
142   year=2019/week=37/file_name=tv_natsln
143   year=2019/week=37/file_name=tv_natsyn

[144 rows x 1 columns]

In [87]:
# for r in p1['partition']:
#     print(r)
import re
tt = p1['partition']
def get_existing_partition_metadata(df):
    partition_data = df['partition']
    regex = '^year=([0-9]{4}?)/week=([0-9]{1,2}?)/.*$'
    res_dict: dict = {}
    #print('hello'+partition_data)
    def fun2(x: str, res_dict: dict = {}):
        if re.match(regex, x):
            matched = re.findall(regex, x)
            year = matched[0][0]
            week = matched[0][1]
            if year not in res_dict:
                res_dict[year]=set()
            res_dict[year].add(week)
    list(filter(lambda x: fun2(x, res_dict), partition_data))
    return res_dict
mm = get_existing_partition_metadata(p1)

In [88]:
mm

{'2019': {'22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37'}}

In [89]:
print('hello')

hello